aiohttp
aiosignal
altair
anyio
async-timeout
attrs
backoff
beautifulsoup4
blinker
blobfile
cachetools
certifi
cfgv
chardet
charset-normalizer
chroma-hnswlib
chromadb==0.4.3
click
colorama
coloredlogs
coverage
cssselect
dataclasses-json
decorator
distlib
dnspython
docker
duckduckgo-search
entrypoints
fastapi
ffmpeg-python
filelock
flake8
Flask
flatbuffers
fluent-logger
frozenlist
future
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gTTS
h11
httplib2
httptools
huggingface-hub
humanfriendly
identify
idna
importlib-metadata
importlib-resources
inflection
itsdangerous
Jinja2
jsonschema
langchain
loguru
lxml
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mccabe
mdurl
monotonic
more-itertools
mpmath
msgpack
multidict
mypy-extensions
networkx
nodeenv
numpy
onnxruntime
openai
openai-whisper
orjson
overrides
packaging
pandas
Pillow
pinecone-client
platformdirs
playsound
posthog
pre-commit
protobuf
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pybind11
pycodestyle
pycryptodomex
pydantic
pydeck
pyflakes
Pygments
pygptj
pyllamacpp
Pympler
pyparsing
PyPika
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pywatchman
PyYAML
readability-lxml
redis
regex
requests
rich
rsa
semver
sentencepiece
six
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
starlette
steamship
steamship-langchain
streamlit
streamlit-ace
sympy
tenacity
termcolor
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
uvloop
validators
virtualenv
watchfiles
websocket-client
websockets
Werkzeug
yarl
zipp
